@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Patrick+Hand&display=swap');

:root {
  font-family: 'Patrick Hand', 'Segoe UI', sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #2e251e;
  background-color: #f4ecd1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background:
    radial-gradient(circle at 20% 14%, rgb(255 245 194 / 70%), transparent 43%),
    radial-gradient(circle at 81% 20%, rgb(221 248 255 / 48%), transparent 38%),
    radial-gradient(circle at 50% 82%, rgb(255 215 183 / 40%), transparent 36%),
    #f4ecd1;
}

#root {
  min-height: 100vh;
}
